body {
    font-family: Arial, sans-serif;
    background-image: url(image/8.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 255, 0.5);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.input-container {
    margin-bottom: 20px;
    color: #ffffff;
}

label {
    display: block;
    margin-bottom: 5px;
}

.icon-input {
    position: relative;
}

.icon-input input {
    padding-right: 30px; /* Sesuaikan padding kanan sesuai dengan lebar ikon */
}

.icon-input i {
    position: absolute;
    right: 10px; /* Sesuaikan jarak ikon dari kanan */
    top: 50%;
    transform: translateY(-50%);
    color: #cccccc;
    transition: color 0.2s ease;
}

.icon-input i.hidden {
    color: transparent;
}

input {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    background-color: #fff; /* Background color white */
    color: #ff0000; /* Text color red */
    border: 1px solid #ff0000; /* Red border */
    padding: 10px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 10px; /* Bottom margin */
    display: flex; /* Flex display */
    align-items: center; /* Center align items */
    text-align: center;
}

/* Icon style */
.error-icon {
    margin-right: 10px; /* Right margin */
}

