body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.icon-input {
    position: relative;
}

.icon-input input {
    padding-right: 30px; /* Sesuaikan padding kanan sesuai dengan lebar ikon */
}

.icon-input i {
    position: absolute;
    right: 10px; /* Sesuaikan jarak ikon dari kanan */
    top: 50%;
    transform: translateY(-50%);
    color: #cccccc;
    transition: color 0.2s ease;
}

.icon-input i.hidden {
    color: transparent;
}

input {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}